/* .items_forms {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.items_forms_input {
    width: 100% !important ;
    margin: 0 10px !important;
}
.items_forms_button {
    width: 60% !important ;
    display: flex !important;
    justify-content: center !important;
    margin-left: 21% !important;
}
.image_picker {
    margin-left: 28%;
} */

.container {
    padding: 10px;
}
.dailyMenuSelection {
    margin-bottom: 5% !important;
}
.myInput {
    margin: 0 10px !important;
}

input, select {
    background-color: transparent !important;
}

.img-bottom {
    margin: 0% 1% 5% 0% !important;
}

.items-card-flex {
    padding: 10px 0;
    position: absolute;
      width: 88.3%;
      height: 55% !important;
      background: rgba(0,0,0,0.7);
      bottom: 0;
      left: 11.7%;
      flex-direction: column;
      color: white !important;
      font-size: 12px !important;
}
.img-widht {
    width: 100%;
    height: 180px !important;
}
.card-text-class {
    display: flex;
    justify-content: space-between;
}
.activationToggleColor {
    color: green !important;
}
.items-card {
    height: 400px !important;
}

.color-blue {
    background-color: blue !important;
}

.items_checkbox {
    margin-left: 8%;
}
.color_white {
    color: white !important;
}

.margin-top {
    margin-top: 10% !important;
}