/* th, td {
    border: 1px solid;
    padding: 5px;
}

th {
    text-align: center !important;
}

table{ 
    width: 100% !important;
}

.ant-tabs-card {
    overflow: auto !important;
}

.customer-table-body {
    cursor: pointer;
}
.status-dropdown {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
} */