.conatiner {
  margin: 10px;
  padding: 20px;
  box-shadow: 10px 10px 10px 10px lightgray;
}

.supplier-form-submit-button {
  margin-left: 33% !important;
}
.form-heading {
  text-align: center;
}

@media (max-width: 575px) {
  .conatiner {
    margin: 15px;
  }
  .supplier-form-submit-button {
    margin-left: 0% !important;
  }
}
